.THIS .slds-card__header{
    padding-bottom: 12px;
    margin: 0;
    background-color: rgb(243,243,243);
    border-bottom: 1px solid rgb(221,219,218);
}

.THIS hr {
    margin: 10px 0;
}

.THIS .slds-card__body_inner{
    padding-top: 6px;
    padding-bottom: 6px;
}

.THIS .medal{
    height : 48px;
    width : 48px;
}

.THIS .top3{
    display: flex;
    margin: 0 -10px;
    margin-bottom: 16px;
    font-size: 110%;
}

.THIS .top3 > div{
    flex: 0 0 auto;
    margin: 0 10px;
}

.THIS .top10{
    display: flex;
    margin-bottom: 10px;
}

.THIS .top10 .top10_pos{
    flex: 0 0 48px;
    margin-right: 20px;
    font-size: 110%;
    line-height: 100%;
    text-align: center;
}

.THIS .top10 .pos--label{
    background-color: rgb(0, 156, 219);
    padding: 4px 6px;
    border-radius: 100%;
    color: white;
    font-weight: bold;
    display: inline-block;
}

.THIS .top10 .top10_name{
    flex: 0 0 40%;
    white-space: normal;
    text-overflow: ellipsis;
}