.THIS .percentage{
    Font-size : 26px;
    font-weight : bolt;
}

.THIS .imgCls{
    width:35px;
    height:35px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.THIS .title{
    Font-size : 16px;
    font-weight : bolt;
}

.THIS .slds-tile__detail{
    float: left;
    width: 50%;
}

.THIS .slds-truncate{
    width : 60% !important; 
}

.THIS .test-right{
    width: 50%;
    float: right;
}

.THIS .slds-media__body > div {
    display: inline-block;
    vertical-align: middle;
}