.THIS .percentage{
    Font-size : 26px;
    font-weight : bolt;
}

.THIS .imgCls{
    width:35px;
    height:35px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.THIS .title{
    Font-size : 16px;
    font-weight : bolt;
}

.THIS .slds-tile__detail{
  /*  flex box / inline block */
    float: left;
    width: 50%;
}

.THIS .test-right{
    width: 50%;
    float: left;
}

.THIS .slds-truncate{
    width : 50% !important; 
}


.THIS .slds-media__body {
    display: inline-block;
    vertical-align: middle;
    width : 100%
}

.THIS .div-1{
    height : 15px;
    margin-right: 35px;
}
.THIS .div-2{
    height : 15px;
    margin-right: 30px;
}
.THIS .div-3{
    height : 15px;
    margin-left: 25px;
    vertical-align: top !important;

}

.THIS .progress{
    width : 75%;
    margin-top : 8px;
}

.THIS .awards {
    margin-top : 10px;
    display: inline-block;
    vertical-align: middle;
    width : 100%
}

.THIS .award1{
    height : 15px;
    margin-right: 35px;
    width: 45px;
    margin-left : 10px;
}

.THIS .award2{
    height : 15px;
    margin-right: 35px;
    width: 45px;
}

.THIS .award3{
    height : 15px;
    margin-right: 35px;
    width: 45px;
}

.THIS .award4{
    height : 15px;
    margin-right: 35px;
    width: 45px;
}

.THIS .medal{
    height : 25px;
    width : 25px;
    margin-right : 5px;
}