.THIS .percentage{
    Font-size : 26px;
    font-weight : bolt;
}

.THIS .imgCls{
    width:35px;
    height:35px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.THIS .title{
    Font-size : 16px;
    font-weight : bolt;
}

.THIS .outer-div{
  width: 90% !important;
}

.THIS .filters{
    width : 25%;
    margin-bottom: 20px;
    
}

.THIS .slds-show_inline-block{
    margin-left: 20px;
    margin-right: 20px;
}

.THIS .div-1{
    height : 15px;
    margin-right: 40px;
}
.THIS .div-2{
    height : 15px;
    margin-right: 35px;
}

.THIS .progress{
    width : 75%;
}

.THIS .title-filter{
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 15px;
}

.THIS .slds-media{
    width : 80% !important;
    margin-left: 20px;
}

.THIS .indexcolumn{
    height : 30px;
    vertical-align: baseline !important;
}