.THIS .percentage{
    Font-size : 26px;
    font-weight : bolt;
}

.THIS .imgCls{
    width:35px;
    height:35px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.THIS .title{
    Font-size : 16px;
    font-weight : bolt;
}

.THIS .slds-tile__detail{
  /*  flex box / inline block */
    float: left;
    width: 50%;
}

.THIS .test-right{
    width: 50%;
    float: left;
}

.THIS .slds-truncate{
    width : 60% !important; 
}


.THIS .slds-media__body > div {
    display: inline-block;
    vertical-align: middle;
}

.THIS .filters{
    width : 25%;
    margin-bottom: 20px;
    
}

.THIS .slds-show_inline-block{
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 20px;
}