.THIS .slds-card__header {
    padding-bottom: 12px;
    margin: 0;
    background-color: rgb(243, 243, 243);
    border-bottom: 1px solid rgb(221, 219, 218);
}

.THIS .slds-progress-bar_medium {
    height: 14px !important;
    margin: 6px 0 !important;
}

.THIS .slds-progress-bar__value {
    background: repeating-linear-gradient(225deg,
            rgb(0, 161, 224),
            rgb(0, 161, 224) 10px,
            #465298 10px,
            #465298 20px) !important;
}

.THIS hr {
    margin: 22px 0;
}

.THIS .leaderboard-container {
    display: flex;
    margin-bottom: 24px;
    margin-left: -8px;
    margin-right: -8px;
}

.THIS .leaderboard-container>* {
    flex: auto 0 0;
    margin: 0 8px;
}

.THIS .leaderboard-container .profile-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.THIS .leaderboard-container .profile-container>div {
    flex: auto 0 0;
}

.THIS .leaderboard-container .profile-container .user-stats {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
}

.THIS .leaderboard-container .profile-container .user-stats>div {
    flex: auto 0 0;
}

.THIS .leaderboard-container .profile-container .user-stats .user-name {
    flex-basis: 180px !important;
    overflow: hidden;
    white-space: nowrap;
}

.THIS .profile-image>img {
    border-radius: 100%;
    width: 54px;
    height: 54px;
    margin: 5px 0;
}

.THIS .percentage {
    font-size: 26px;
    font-weight: bolt;
}

.THIS .imgCls {
    width: 35px;
    height: 35px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.THIS .filters {
    display: flex;
    margin: 0 -6px;
    align-items: center;
}

.THIS .filters>* {
    flex: auto 0 0;
    margin: 0 6px;
}

.THIS .daysLeft {
    text-align: center;
    border: 1px solid lightgray;
    border-radius: 4px;
    padding: 4px 8px;
    /* transform: translateY(-32px); */
}


/* User Medals */
.THIS .awards {
    display: flex;
    align-content: center;
    margin: 0 -6px;
}

.THIS .awards>div {
    flex: auto 0 0;
    margin: 0 6px;
    ;
}

.THIS .medal {
    height: 28px;
    width: 28px;
}